.list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    &.completed {
        font-weight: bold;
    }

    label {
        position: relative;
        left: 40px;
        margin-right: 40px;
        &::before {
            margin: 0 10px 0 -40px;
            position: absolute;
            
        }
    }

    input[type="checkbox"] { display: none; }
    input[type="checkbox"] + label {
        &::before {
            content: '🔘';
        }
    }
    input[type="checkbox"]:checked + label {
        &::before {
            content: '🔵';
        }
    }

    button {
        border: 0;
        background: rgba(0,0,0,0);
        transition: all .3s;
        cursor: pointer;
        
        &::before {
            content: '❌';
            font-size: 20px;
        }
        
        &:hover {
            transform: rotate(20deg) scale(1.2);
        }
    }
}