*, *::before, *::after   {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Raleway', sans-serif;

    &::before {
        z-index: -1;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        content: '';
        position: fixed;
        opacity: .3;
        background-image: url('./assets/back_to_school_vector_seamless_patterns_background_generated.jpg');
        background-position: cover;
        background-repeat: repeat;
        background-size: 300px;
    }
}